<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katalog Game Steam Ihsan</title>
</head>
<body>
    <div class="header">
        <img src="/images/steamlogo.png" alt="logosteam" class="logo">
        <h1>Katalog Game Steam Ihsan </h1>
    </div>

    <form action="/" method="POST" class="find">
        <input type="text" name="find" class="search-bar" placeholder="Find by Game Name" required>
        <input type= "submit" class="search-button" value="Find">
    </form>

    <div class="wrapper">
        <table>
            <tr>
                <th>No.</th>
                <th><a href="/">Nama Game</a></th>
                <th><a href="/releasedate">Tanggal rilis</a></th>
                <th>Kategori</th>
                <th><a href="/devname">Nama developer</a></th>
                <th><a href="/devlocation">Lokasi developer</a></th>
                <th><a href="/pubname">Nama publisher</a></th>
                <th><a href="/publocation">Lokasi publisher</a></th>
            </tr>
                <% var i=1;  games.forEach(function(game) { %>
                    <tr>
                        <td> <%= i %> </td>
                        <td> <%= game.name %> </td>
                        <td> <%= game.release_date %> </td>
                        <td> <%= game.category %> </td>
                        <td> <%= game.developer_name %> </td>
                        <td> <%= game.developer_location %> </td>
                        <td> <%= game.publisher_name %> </td>
                        <td> <%= game.publisher_location %> </td>
                    </tr>
                    <% i++; %>
                    <% }); %>
        </table>
    </div>

    <footer class="footer">
        <p>Created by &copy; Ihsanuddin Dwi P</p>
    </footer>
</body>
</html>